h1{
  color: #810000;
  font-style: italic;
  font-size: 100px;
  text-align: center;
}
body{
  background-color: #e97171;
  text-align: center;
}
img{
  background-color: #810000;
  border-radius: 100%;
    margin-top: 2rem;
}
p{
  color: white;
  font-style: oblique;

}
